<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FunkoShop</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/shop.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="shortcut icon" href="/img/branding/isotype.svg" type="image/x-icon" />
  </head>

  <body>
    <% if(logueado) { %> <%- include('../partials/headerAdmin') %> <% }else{ %> <%- include('../partials/header') %> <%
    } %>

    <div class="shop_all">
      <div class="container_shop container">
        <aside class="aside_shop">
          <section class="shop_buscador">
            <div class="buscar">
              <label for="buscar" class="titulo_buscador">BUSCAR</label>
              <input
                type="text"
                name="buscar"
                id="buscar"
                class="placeholder_buscador"
                placeholder="item o categoria"
              />
            </div>
            <div class="ordenar_por">
              <label for="ordenar" id="label-ordenar" class="titulo_buscador">ORDENAR POR</label>
              <select class="placeholder_buscador" name="ordenar" id="ordenar">
                <option value="mayor-menor">Mayor a menor</option>
                <option value="menor-mayor">Menor a mayor</option>
                <option value="alfabetico">Alfabético</option>
              </select>
            </div>
            <div class="precio">
              <p class="titulo_buscador">PRECIO</p>
              <div class="min_max">
                <label for="preciomin" id="label-preciomin">MIN</label>
                <input type="number" name="preciomin" id="preciomin" value="0" class="" />
                <p>-</p>
                <label for="preciomax" id="label-preciomax">MAX</label>
                <input type="number" name="preciomax" id="preciomax" value="0" class="" />
              </div>
            </div>

            <div class="filtrar">
              <p class="titulo_buscador">FILTRAR</p>
              <div class="filtrar_seleccion">
                <div>
                  <input type="checkbox" name="filtrar" id="filtrar" class="my_checkbox" value="nuevos" />
                  <label for="">NUEVOS</label>
                </div>

                <div>
                  <input type="checkbox" name="filtrar" id="filtrar" class="my_checkbox" value="ofertas" />
                  <label for="">OFERTAS</label>
                </div>

                <div>
                  <input type="checkbox" name="filtrar" id="filtrar" class="my_checkbox" value="edespecial" />
                  <label for="">EDICIÓN ESPECIAL</label>
                </div>

                <div>
                  <input type="checkbox" name="filtrar" id="filtrar" class="my_checkbox" value="favoritos" />
                  <label for="">FAVORITOS</label>
                </div>
              </div>
            </div>
          </section>
        </aside>

        <main class="shop_main">
          <section class="shop">
            <ul class="shop_lista">
              <% products.forEach((product)=>{ %>
              <li>
                <article class="card-items">
                  <a class="card-item__link" href="/item/<%= product.id %>">
                    <picture class="card-item__cover">
                      <span class="card-item__tag">Nuevo</span>
                      <img
                        class="card-item__img--front"
                        src="/img/productos/<%= product.imagen_front %>"
                        alt="imagen del producto front"
                      />
                      <img
                        class="card-item__img--back"
                        src="/img/productos/<%= product.imagen_back %>"
                        alt="imagen del producto back"
                      />
                    </picture>
                    <div class="card-item__content">
                      <p class="card-item__license"><%= product.Licencium.nombre %></p>
                      <h4 class="card-item__name"><%= product.nombre %></h4>
                      <p class="card-item__price">$<%= product.precio %></p>
                      <p class="card-item__promo"><%= product.cuotas %> CUOTAS SIN INTERES</p>
                    </div>
                  </a>
                </article>
              </li>

              <% }) %>
            </ul>
          </section>
          <section class="shop_paginas">
            <div>
              <ul>
                <input type="button" class="primer_boton" value="&lt" />
                <input type="button" class="pagina_seleccionada" value="1" />
                <input type="button" value="2" />
                <input type="button" value="..." />
                <input type="button" value="9" />
                <input type="button" value="10" />
                <input type="button" value="&gt" />
              </ul>
            </div>
          </section>
        </main>
      </div>
    </div>
    <% if(logueado) { %> <%- include('../partials/footerAdmin') %> <% }else{ %> <%- include('../partials/footer') %> <%
    } %>

    <script src="/js/index.js"></script>
  </body>
</html>
