<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../../partials/headerAdmin') %>
    <h1>Lista de productos</h1>
    <button><a href="/admin/products/create"> crear producto</a></button>
    <% products.forEach((product) => { %>
    <div>
      <p><%= product.nombre %></p>
      <p><%= product.precio %></p>
      <p><%= product.Category.nombre %></p>
      <button>
        <a href="/admin/products/edit/<%= product.id %>">editar</a>
      </button>
      <form
        class="form-delete"
        action="/admin/products/<%= product.id %>?_method=DELETE"
        method="post"
      >
        <button type="submit">Borrar</button>
      </form>
    </div>
    <% }); %>
  </body>
</html>
